
<div class="container">
  <div class="nav">
    <div class="heading1">
      <h1>Tasks</h1>
    </div>
    <div class="addTask">
      <input type="button" name="Add Task" value="Add Task">
    </div>
    
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Comments</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>User 1</td>
        <td>Completed</td>
        <td>12/10/2024</td>
        <td>Low</td>
        <td>This Task is good</td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>User 2</td>
        <td>In progress</td>
        <td>14/09/2024</td>
        <td>High</td>
        <td>This Task is good</td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>User 3</td>
        <td>Not Started</td>
        <td>18/08/2024</td>
        <td>Low</td>
        <td>This task is good</td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>User 4</td>
        <td>In progress</td>
        <td>12/06/2024</td>
        <td>Normal</td>
        <td>This task is good</td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
